.div_word_row {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    background-color: #F1F9FF;
    color: #7FA8E6;
    font-size: 20px;
    border-radius: 11px;
    /*font-weight: 250;*/
}

.div_word_element_right {
    position: relative;
    padding-right: 30px;

    color: #7FA8E6;
    font-size: 20px;
    right: 25px;
}

.row {
    margin-bottom: 5px;
}

.card_front {
    background-color: white;
    margin: auto;
    min-height: 480px;
    padding-top: 200px;
    padding-bottom: 250px;
    text-align: center;
    border-radius: 15px;
    color: #7fa8e6;
    box-shadow: 0px 30px 30px #0000001A;
    horiz-align: center;
    font-size: 26px;
}

.card_back {
    margin: auto;
    min-height: 480px;
    border-radius: 15px;
    color: #7fa8e6;
    box-shadow: 0px 30px 30px #0000001A;
    horiz-align: center;
    font-size: 26px;
}
.back_card_info{
    padding-left: 15px;
    padding-right: 15px;
}

.back_card_word_title{
    color: #7FA8E6;
    /*padding-left: 14px;*/
    padding-right: 25px;
    padding-top: 17px;
    padding-bottom: 8px;
    font-size: 26px;
    border-bottom:1px solid #E1F2FF;
    margin-bottom: 10px;
}


.back_card_word_speech{
    display: inline-block;
    color: #E25A53;
    font-size: 14px;
    padding-left: 10px;
}

.back_card_word_def{
    color: #707070;
    border-bottom:1px solid #E1F2FF;
    margin-bottom: 10px;
}

.back_card_word_sen{
    color: #707070;

}


.back_card_word_sen_eng{
    color: #7FA8E6;
}

.back_card_word_def_chi{
    color: #707070;

}